In [8]:
#import data before and after covid hit NYC in March 2020
import pandas as pd

In [9]:
Feb_df = pd.read_csv('C:/Users/fishd/Documents/citibick/202001-citibike-tripdata.csv')
March_df = pd.read_csv('C:/Users/fishd/Documents/citibick/202002-citibike-tripdata.csv')
April_df = pd.read_csv('C:/Users/fishd/Documents/citibick/202003-citibike-tripdata.csv')

In [10]:
#drop any null data
Feb_df = Feb_df.dropna()
March_df = March_df.dropna()
April_df = April_df.dropna()

In [11]:
Feb_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1

In [12]:
March_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1404,2020-02-01 00:00:05.9460,2020-02-01 00:23:30.7240,316,Fulton St & William St,40.709560,-74.006536,481,S 3 St & Bedford Ave,40.712605,-73.962644,28874,Customer,1995,1
1,1301,2020-02-01 00:00:06.2230,2020-02-01 00:21:48.0580,237,E 11 St & 2 Ave,40.730473,-73.986724,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,32588,Subscriber,1991,1
2,474,2020-02-01 00:00:15.7210,2020-02-01 00:08:10.3440,528,2 Ave & E 31 St,40.742909,-73.977061,3785,W 42 St & 6 Ave,40.754920,-73.984550,41013,Subscriber,1994,1
3,487,2020-02-01 00:00:21.0520,2020-02-01 00:08:28.7520,380,W 4 St & 7 Ave S,40.734011,-74.002939,3263,Cooper Square & Astor Pl,40.729515,-73.990753,27581,Subscriber,1973,2
4,619,2020-02-01 00:00:27.4000,2020-02-01 00:10:47.0640,472,E 32 St & Park Ave,40.745712,-73.981948,237,E 11 St & 2 Ave,40.730473,-73.986724,29062,Subscriber,1994,1

In [13]:
April_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1589,2020-03-01 00:00:03.6400,2020-03-01 00:26:32.9860,224,Spruce St & Nassau St,40.711464,-74.005524,3574,Prospect Pl & Underhill Ave,40.676969,-73.965790,16214,Subscriber,1980,1
1,389,2020-03-01 00:00:16.7560,2020-03-01 00:06:46.0620,293,Lafayette St & E 8 St,40.730207,-73.991026,223,W 13 St & 7 Ave,40.737815,-73.999947,29994,Subscriber,1991,2
2,614,2020-03-01 00:00:20.0580,2020-03-01 00:10:34.2200,379,W 31 St & 7 Ave,40.749156,-73.991600,515,W 43 St & 10 Ave,40.760094,-73.994618,39853,Subscriber,1991,1
3,597,2020-03-01 00:00:24.3510,2020-03-01 00:10:22.3390,3739,Perry St & Greenwich Ave,40.735918,-74.000939,325,E 19 St & 3 Ave,40.736245,-73.984738,42608,Subscriber,1989,1
4,1920,2020-03-01 00:00:26.1120,2020-03-01 00:32:26.2680,236,St Marks Pl & 2 Ave,40.728419,-73.987140,3124,46 Ave & 5 St,40.747310,-73.954510,36288,Subscriber,1993,1

In [14]:
df2=Feb_df.sample(frac=0.01, replace=True, random_state=1)
df3=March_df.sample(frac=0.01, replace=True, random_state=1)
df4=April_df.sample(frac=0.01, replace=True, random_state=1)

In [15]:
df2.count()

tripduration               12406
starttime                  12406
stoptime                   12406
start station id           12406
start station name         12406
start station latitude     12406
start station longitude    12406
end station id             12406
end station name           12406
end station latitude       12406
end station longitude      12406
bikeid                     12406
usertype                   12406
birth year                 12406
gender                     12406
dtype: int64

In [16]:
df3.count()

tripduration               11468
starttime                  11468
stoptime                   11468
start station id           11468
start station name         11468
start station latitude     11468
start station longitude    11468
end station id             11468
end station name           11468
end station latitude       11468
end station longitude      11468
bikeid                     11468
usertype                   11468
birth year                 11468
gender                     11468
dtype: int64

In [17]:
df4.count()

tripduration               10685
starttime                  10685
stoptime                   10685
start station id           10685
start station name         10685
start station latitude     10685
start station longitude    10685
end station id             10685
end station name           10685
end station latitude       10685
end station longitude      10685
bikeid                     10685
usertype                   10685
birth year                 10685
gender                     10685
dtype: int64

In [22]:
frames = [df2, df3, df4]

result = pd.concat(frames)

In [23]:
result.count()

tripduration               34559
starttime                  34559
stoptime                   34559
start station id           34559
start station name         34559
start station latitude     34559
start station longitude    34559
end station id             34559
end station name           34559
end station latitude       34559
end station longitude      34559
bikeid                     34559
usertype                   34559
birth year                 34559
gender                     34559
dtype: int64

In [24]:
result.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
128037,461,2020-01-05 11:47:38.0570,2020-01-05 11:55:19.2800,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,530,11 Ave & W 59 St,40.771497,-73.990460,16380,Customer,1973,1
491755,900,2020-01-13 09:04:37.8250,2020-01-13 09:19:38.1180,3134,3 Ave & E 62 St,40.763126,-73.965269,3129,Queens Plaza North & Crescent St,40.751102,-73.940737,40070,Subscriber,1996,2
470924,470,2020-01-12 17:53:44.1560,2020-01-12 18:01:34.2810,380,W 4 St & 7 Ave S,40.734011,-74.002939,146,Hudson St & Reade St,40.716250,-74.009106,29832,Subscriber,1989,1
491263,109,2020-01-13 08:58:35.0760,2020-01-13 09:00:24.4680,387,Centre St & Chambers St,40.712733,-74.004607,319,Fulton St & Broadway,40.711066,-74.009447,29004,Subscriber,1974,1
836489,552,2020-01-22 17:23:49.8260,2020-01-22 17:33:01.9180,3680,E 43 St & 5 Ave,40.754121,-73.980252,3231,E 67 St & Park Ave,40.767801,-73.965921,33882,Subscriber,1954,1

In [32]:
result.to_csv('Clean_data.csv')